#contact_modal {
    display: none;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.photograph-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 180px;
    width: 100%;
    padding: 0 30px;
    margin: 0 90px;
}

.info {
    display: flex;
    flex-direction: column;    
}

.info h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 500;    
    margin: 0; 
}

.info h3 {
    color: #D3573C;
    font-size: 14px;
    font-weight: 300;    
    margin: 5px 0;
}

.info h4 {
    color: rgb(95, 89, 89);
    font-size: 10px;
    font-weight: 500;    
    margin: 5px 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

picture img {
    display: flex;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 130px;
}

.medias-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: auto;
    margin: 0 90px;
}

.medias_photographer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 330px;
    width: 100%;
} 

.media_photo {
    display: flex;
    width: 360px;
    height: 260px;
    object-fit: cover;
}

.media_photo img {
    object-fit: cover;
    object-position: center bottom;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}