.photograph-header {
    position: relative;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.photograph-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 230px;
    width: 100%;
    padding: 0 30px;
    margin: 0 90px 100px;
}

.info {
    display: flex;
    flex-direction: column;    
}

.info h2 {
    color: #D3573C;
    font-size: 38px;
    font-weight: 500;    
    margin: 0; 
}

.info h3 {
    color: #D3573C;
    font-size: 20px;
    font-weight: 300;    
    margin: 5px 0;
}

.info h4 {
    color: rgb(95, 89, 89);
    font-size: 16px;
    font-weight: 500;    
    margin: 5px 0;
}

.modal-button {
    position: absolute;
}
.modal-button, .btn-submit {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 200px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    top: 20%;
    left: 45%;
}

picture img {
    display: flex;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 180px;
}

.banner-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    position: fixed;
    background-color: #db8876;
    bottom: 0;
    right: 30px;
    width: 376px;
    height: 70px;
    border-radius: 5px 5px 0 0;
    font-size: 24px;
    font-weight: 500;
}

.banner-price p {
    font-size: 20px;
    font-weight: 800;
    text-align: right;
}

.medias-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: auto;
    margin: 0 90px;
}

.medias_photographer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 330px;
    width: 100%;
    margin: 60px 0;
} 

.media_photo {
    display: flex;
    height: 350px;
    width: 420px;
    object-fit: cover;
    object-position: 50% 18%;
    border-radius: 10px;
}

.media_photo img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;   
}

.media_video {
    display: flex;
    height: 350px;
    width: 420px;
    object-fit: cover;
    border-radius: 10px;
} 

#contact-modal {
    display: none;
}

.bground {
    z-index: 1;
    margin: 0;
    width: 100%;
    overflow: auto;
    background-color: transparent;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    margin: auto;
}

#contact-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0;
}

.header-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#title-modal, #photographer-name {
    width: 100%;
    height: fit-content;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
}

.close-form {
    font-size: 60px;
    font-weight: 500;
    color: white;
    min-width: 60px;
    padding: 0 20px;
    background-color: #db8876;
    border: none;
}

.content {
    position: absolute;
    margin: 5% auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    font-weight: 600;
}

.formData {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.btn-submit {
    height: max-content;
    margin-top: 30px;
    padding: 20px 0;
}