@import url("style.css");

.photograph-header {
    position: relative;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.photograph-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 230px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 100px;
}

.info {
    display: flex;
    flex-direction: column;    
}

.info h2 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 600;    
    margin: 0; 
}

.info h3 {
    color: #D3573C;
    font-size: 26px;
    font-weight: 600;    
    margin: 5px 0;
}

.info h4 {
    color: rgb(95, 89, 89);
    font-size: 20px;
    font-weight: 500;    
    margin: 5px 0;
}

.modal-button {
    position: absolute;
    font-size: 20px;
}

.modal-button, .btn-submit {
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 200px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    top: 20%;
    left: 45%;
}

picture img {
    display: flex;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 180px;
}

.banner-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    position: fixed;
    background-color: #db8876;
    bottom: 0;
    right: 30px;
    width: 376px;
    height: 70px;
    border-radius: 5px 5px 0 0;
    font-size: 24px;
    font-weight: 500;
    z-index: 1;
}

.banner-price p {
    font-size: 20px;
    font-weight: 800;
    text-align: right;
}

.medias-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: max-content;
    width: auto;
    margin: 0;
    object-fit: cover;
}

.medias-photographer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
} 

.medias-photographer h5 {
    color: #D3573C;
    font-size: 26px;
    font-weight: 600;  
    margin-top: 15px;  
}

.media-photo, .media-video {
    display: flex;
    position: relative;
    width: 440px;
    aspect-ratio: 12 / 10;   
}

.media-photo img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.media-video {
    object-fit: cover;
}

/* MODAL FORM */

#contact-modal {
    display: none;
}

.bground {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    align-content: center;
    margin: auto;
    padding: 0 10px;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #DB8876;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: .2s;
}

.bground[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}

.modal {
    flex: 1;
    max-width: 90%;
    margin: 0;
    padding: 0 20px;
}

#title-modal, #photographer-name {
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

#title-modal {
    padding-top: 20px;
}

.close-form {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 500;
    width: 50px;
    height: 50px;
    background-color: #db8876;
    border: none;    
    top: 10px;
    right: 20px;
    padding-top: 10px;
}

form {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 20px;
}

form label {
    color: #312E2E;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 0;
}

.formData {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.formData textarea {
    height: 500px;
}

form input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 0;
}

textarea {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.text-control {
    margin: 0;
    width: auto;
    border-radius: 8px;
    font-size: 22px;
    height: 40px;
  }

.btn-submit {
    height: max-content;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px 0;
    font-size: 16px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 14px;
    font-weight: 600;
    color: #e54858;
    display: block;
    text-align: left;
    line-height: 0.3;
    transition: 0.3s;
    opacity: 0;
  }
  
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  
  .formData[data-error-visible="true"] .text-control {
    border: 3px solid #e54858;
  }
  
  .formData[data-succes-visible="true"] .text-control {
    border: 3px solid #94e548;
  } 
  
  input[data-error]::after {
      content: attr(data-error);
      font-size: 16px;
      color: red;
  } 