@import url("photographer.css");

html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
  }
  
body { 
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    font-family: "DM Sans", sans-serif;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    position: absolute;
}

header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 90px;
    width: 95%;
    margin: 50px 0 50px 50px;
}

h1 {
    display: flex; 
    justify-content: flex-end;
    color: #d32222;
    font-size: 34px;
    font-weight: 500;
    margin-right: -40px;
    min-width: 300px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    min-width: fit-content;
}

.logo:hover, .photographer:hover {
    transform: scale(1.1)
}

.photographer:hover {
    border: 1px solid #918e8e;
    border-radius: 10px;
}

.photographer_section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 122px;
    row-gap: 50px;
    margin: auto;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1440px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 285px;
    margin: 0;
}

.photographer {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.photographer-link {    
    display: flex;
    flex-direction: column;
    width: 100%;
}

.photographer-link h2 {
    color: #D3573C;
    font-size: 30px;
    font-weight: 500;    
    margin-bottom: 0;
    text-align: center;    
}

.photographer-link img {
    display: block;
    height: 230px;
    width: 230px;
    border-radius: 220px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.photographer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.photographer-details h3 {
    color: #D3573C;
    font-size: 16px;
    font-weight: 300;    
    margin: 5px;
}

.photographer-details h4 {
    color: rgb(75, 66, 66);
    font-size: 13px;
    font-weight: 600;    
    margin: 5px;
}

.photographer-details h5 {
    color: grey;
    font-size: 13px; 
    font-weight: 200; 
    margin: auto;
}

a {
    text-decoration:none;
}

/* ---------------------------------------------------*/
/* LES RESPONSIVES */
/* ---------------------------------------------------*/

@media screen and (max-width:1100px) {
    .photographer_section {
        gap: 60px;
    }
} 

@media screen and (max-width:1024px) {
    .photographer_section {
        justify-content: space-around;
        gap: 80px;
    }
} 

@media screen and (max-width:650px) {
    .photographer_section {
        gap: 10px;
        row-gap: 50px;
    }
}  

@media screen and (max-width:525px) {
    header {        
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin-left: 0;
        width: 300px;
    }
    .logo {
        margin-left: -30px;
    }
} 
